@import "./variables";
@import "./mix";

.navbar-brand {
    a{
     font-family: $fontfamilytitle;
     font-size: 2.5rem;
     @include reset-link;
    }
 }
 
 .nav-item {
     a{
         font-family: $fontfamilypara;
          font-size:$fontSizeSmall;
          &:hover{
              color:rgb(0, 0, 0);
          }
     }
 }